.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.animateSvelte.svelte {
  -webkit-text-fill-color: transparent;
  animation: svelte-color 6s ease infinite alternate;
  background: linear-gradient(
    60deg,
    #eab308,
    #f37055,
    #ec4899,
    #9333ea,
    #0369a1,
    #1098ad,
    #07b39b,
    #4ade80
  );
  -webkit-background-clip: text;
  background-size: 300% 300%;
}

@keyframes svelte-color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

.heroContainer {
  background-image: url(/scenic.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100vw;
  height: 100vh; */
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
}

.heroCta {
  background: linear-gradient(90deg, #d33751 0%, #d13761 49.11%, #c62c66 100%);
}

.heroCta:hover {
  background: linear-gradient(180deg, #c62c66 0%, #d13761 49.11%, #d33751 100%);
}
